pip install numpy==1.25.2
pip install pandas==2.2.3
pip install scikit-learn==1.3.2
pip install nltk==3.8.1
pip install matplotlib
pip install pillow
pip install streamlit==1.32.0
pip install plotly
pip install openpyxl
pip install prophet
